<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login with your email-address and password</h1>
<form method="post" action="/logged_in">
    <input type="email" name="user-email" placeholder="Enter your email address"><br>
    <input type="password" name="user-password" placeholder="Enter your password"><br>
    <button>Log In</button>
</form>
<h1>Or create an account</h1>
<form method="post" action="/signed_up">
    <input type="text" name="user-name" placeholder="Enter your name"><br>
    <input type="email" name="user-email" placeholder="Enter your email address"><br>
    <input type="password" name="user-password" placeholder="Enter your password"><br>
    <button>Sign Up</button>
</form>

</body>
</html>