{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}


{% block content %}
<p><b>Username: </b>{{username}}</p>
<p><b>Email: </b>{{email}}</p>
    <form method="get" action="/profile/edit">
        <button type="submit">Edit profile</button>
    </form>
    </form>
    <form method="get" action="/profile/delete">
        <button type="submit">Delete account</button>
    </form>
    <form method="get" action="/profile/logout">
        <button type="submit">Logout</button>
    </form>
{% endblock %}
